<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;600;700&family=Lato:wght@700&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/home.css">

    <title>Home</title>
</head>
<body>
    <header>
        <!--Menu de navegacion-->
        <div class="burger"><i class="fas fa-bars"></i></div>
        <nav>
            <ul class="login-navbar">
                <li><a href="/login">Iniciar sesión</a></li>
            </ul>
            <ul class="site-navbar">
                <li><a href="#">Categoria</a></li>
                <li><a href="#">Categoria</a></li>
                <li><a href="#">Categoria</a></li>
            </ul>
        </nav>
        <!--Buscador-->
        <div>
            <button class="search-bar"><i class="fas fa-search"></i></button>
        </div>
        <!--Carrito de compras-->
        <a href="/productCart" class="cart"><i class="fas fa-shopping-cart"></i></a>
    </header>
    <main>
        <!--Navegacion
        <div>
            <ul>
                <li><a href="#">Categoria</a></li>
                <li><a href="#">Categoria</a></li>
                <li><a href="#">Categoria</a></li>
            </ul>
        </div>
        -->
        <!--Carousel-->
        <section>
            <div><i class="fas fa-angle-left"></i></div>
            <div class="carousel"></div>
            <div><i class="fas fa-angle-right"></i></div>
        </section>
        <!--Oferta de productos-->
        <section>
            <h2>Ofertas</h2>
            <div>
                <p>Ver todo</p>
                <div><i class="fas fa-arrow-right"></i></div>
            </div>
            <article>
                <img>
                <h3>Nombre</h3>
                <p>Detalle</p>
                <p>$$$</p>
                <p>Precio anterior</p>
                <p>%OFF</p>
            </article>
            <article>
                <img>
                <h3>Nombre</h3>
                <p>Detalle</p>
                <p>$$$</p>
                <p>Precio anterior</p>
                <p>%OFF</p>
            </article>
        </section>
    </main>
    <footer>
        <div class="cont-footer">
            <section class="left-footer">
                <p>Términos y condiciones</p>
                <p>Comentarios</p>
            </section>
            <div class="center-footer">
                <p>Copyright © 2021 - MAT Team</p>
            </div>
            <section class="right-footer">
                <p>Seguinos</p>
                <div class="iconos">
                    <div><i class="fab fa-instagram"></i></div>
                    <div><i class="fab fa-twitter"></i></div>
                    <div><i class="fab fa-facebook-f"></i></div>
                </div>
            </section>
        </div>
    </footer>
</body>
</html>