<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css">

    <title>Home</title>
</head>
<body>
    <header>
        <!--Menu de navegacion-->
        <section>
            <nav>
                <ul>
                    <li><a href="/login">Iniciar sesión</a></li>
                    <li><a href="#">Categoria</a></li>
                    <li><a href="#">Categoria</a></li>
                    <li><a href="#">Categoria</a></li>
                </ul>
            </nav>
            <div class="hamburger"><i class="fas fa-bars"></i></div>
        </section>
        <!--Buscador-->
        <button class="buscar"><i class="fas fa-search"></i></button>
        <!--Carrito de compras-->
        <div class="cart"><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></div>
    </header>
    <main>
        <!--Carousel-->
        <section>
            <div><i class="fas fa-angle-left"></i></div>
            <div class="carousel"></div>
            <div><i class="fas fa-angle-right"></i></div>
        </section>
        <!--Oferta de productos-->
        <section>
            <h2>Ofertas</h2>
            <div>
                <p>Ver todo</p>
                <div><i class="fas fa-arrow-right"></i></div>
            </div>
            <article>
                <img>
                <h3>Nombre</h3>
                <p>Detalle</p>
                <p>$$$</p>
                <p>Precio anterior</p>
                <p>%OFF</p>
            </article>
            <article>
                <img>
                <h3>Nombre</h3>
                <p>Detalle</p>
                <p>$$$</p>
                <p>Precio anterior</p>
                <p>%OFF</p>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <p>Términos y condiciones</p>
            <p>Comentarios</p>
        </section>
        <section>
            <p>Seguinos</p>
            <div><i class="fab fa-instagram"></i></div>
            <div><i class="fab fa-twitter"></i></div>
            <div><i class="fab fa-facebook-f"></i></div>
        </section>
        <p>Copyright © 2021 - MAT Team</p>
    </footer>
</body>
</html>