<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;600;700&family=Lato:wght@700&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">

    <title>Home</title>
</head>
<body>
    <header>
        <!--Menu de navegacion-->
        <div class="burger"><i class="fas fa-bars"></i></div>
        <nav>
            <ul class="login-navbar">
                <li><a href="/login">Iniciar sesión</a></li>
            </ul>
            <ul class="site-navbar">
                <li><a href="#">Categoria</a></li>
                <li><a href="#">Categoria</a></li>
                <li><a href="#">Categoria</a></li>
            </ul>
        </nav>
        <img class="logo" src="/imgs/logo_final.svg" alt="logo">
        <!--Buscador-->
        <form class="buscador">
            <fieldset>
                <input type="search" name="buscar" placeholder="Buscar..." >
            </fieldset>
            <button type="submit" name="buscar" class="buscar"><i class="fas fa-search"></i></button>
        </form>
        <!--Carrito de compras-->
        <div class="header-right">
            <a href="/productCart" class="cart"><i class="fas fa-shopping-cart"></i></a>
            <a href="/login" class="user-login"><i class="far fa-user-circle"></i> Iniciar sesión</a>
        </div>
    </header>
    <main>
        <div class="navbar">
            <ul>
                <li><a href="#">Categoria <i class="fas fa-angle-right"></i></a></li>
                <li><a href="#">Categoria <i class="fas fa-angle-right"></i></a></li>
                <li><a href="#">Categoria <i class="fas fa-angle-right"></i></a></li>
            </ul>
        </div>
        <!--Carousel-->
        <div class="carousel-contenido">
        <section class="carousel">
            <div><i class="fas fa-angle-left"></i></div>
            <div class="fotos-carousel"></div>
            <div><i class="fas fa-angle-right"></i></div>
        </section>
        <!--Oferta de productos-->
        <section class="home-contenido">
            <article class="home-ofertas">
                <h2>Ofertas</h2>
                <div class="ver-todo">
                    <p>Ver todo <i class="fas fa-arrow-right"></i></p>
                </div>
            </article>

            <article class="home-productos">
                <img src="#" alt="producto">
                <div>
                    <h3>Nombre</h3>
                    <p class="detalle">Detalle</p>
                </div>
                <p class="home-precio">$$$</p>
                <div class="home-precio-anterior-desc">
                    <p class="precio-anterior">$$$</p>
                    <p class="off">%OFF</p>
                </div>
            </article><article class="home-productos">
                <img src="#" alt="producto">
                <div>
                    <h3>Nombre</h3>
                    <p class="detalle">Detalle</p>
                </div>
                <p class="home-precio">$$$</p>
                <div class="home-precio-anterior-desc">
                    <p class="precio-anterior">$$$</p>
                    <p class="off">%OFF</p>
                </div>
            </article><article class="home-productos">
                <img src="#" alt="producto">
                <div>
                    <h3>Nombre</h3>
                    <p class="detalle">Detalle</p>
                </div>
                <p class="home-precio">$$$</p>
                <div class="home-precio-anterior-desc">
                    <p class="precio-anterior">$$$</p>
                    <p class="off">%OFF</p>
                </div>
            </article>
        </section>
        </div>
    </main>
    <footer>
        <section>
            <div class="left-footer">
                <p>Términos y condiciones</p>
                <p>Comentarios</p>
            </div>
            <div class="right-footer">
                <p>Seguinos</p>
                <div class="iconos">
                    <div><i class="fab fa-instagram"></i></div>
                    <div><i class="fab fa-twitter"></i></div>
                    <div><i class="fab fa-facebook-f"></i></div>
                </div>
            </div>
        </section>
        <div class="center-footer">
            <p>Copyright © 2021 - MAT Team</p>
        </div>
    </footer>
</body>
</html>