<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;600;700&family=Lato:wght@700&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">

    <title>Home</title>
</head>
<body>
    <header>
        <!--Menu de navegacion-->
        <i class="fas fa-bars burger"></i>
        <figure class="logo"><img src="/imgs/logo_final.svg" alt="logo"></figure> 
        <!--Buscador-->
        <form class="buscador">
            <fieldset>
                <input type="search" name="buscar" placeholder="Buscar..." >
            </fieldset>
            <button type="submit" name="buscar" class="buscar"><i class="fas fa-search"></i></button>
        </form>
        <!--Carrito de compras-->
        <nav class="header-right">
            <a href="/productCart" class="cart"><i class="fas fa-shopping-cart"></i></a>
            <section class="user-login">
                <a href="/login" class="login"><i class="far fa-user-circle"></i></a>
                <p class="usuario"><a href="/login">Iniciar Sesión</a></p>
            </section>
        </nav>
    </header>
    <main>
        <!-- MENU DE NAVEGACIÓN -->
        <nav class="navbar">
            <h2>Todas las categorias</h2>
            <ul>
                <li><a href="#">Categoría 1</a></li>
                <li><a href="#">Categoría 2</a></li>
                <li><a href="#">Categoría 3</a></li>
            </ul>
        </nav>
        <section class="carousel-contenido">
            <!--Carousel-->
            <aside class="carousel">
                <i class="fas fa-angle-left i-left"></i>
                <figure class="fotos-carousel"><img src="imgs/index/carousel.jpg"></figure>
                <i class="fas fa-angle-right i-right"></i>
            </aside>
            <!--Oferta de productos-->
            <section class="home-contenido">
                <article class="home-ofertas">
                    <h2>Ofertas</h2>
                    <section class="ver-todo">
                        <a href="#">Ver todo <i class="fas fa-arrow-right"></i></a>
                    </section>
                </article>
                <article class="home-productos">
                    <figure><img src="imgs/index/componentRAM.jpg" alt="producto"></figure>
                    <section>
                        <h3>Nombre</h3>
                        <p class="detalle">Detalle</p>
                    </section>
                    <p class="home-precio">$$$</p>
                    <section class="home-precio-anterior-desc">
                        <p class="precio-anterior">$$$</p>
                        <p class="off">%OFF</p>
                    </section>
                </article>
                <article class="home-productos">
                    <figure><img src="imgs/index/componentCASE.jpg" alt="producto"></figure>
                    <section>
                        <h3>Nombre</h3>
                        <p class="detalle">Detalle</p>
                    </section>
                    <p class="home-precio">$$$</p>
                    <section class="home-precio-anterior-desc">
                        <p class="precio-anterior">$$$</p>
                        <p class="off">%OFF</p>
                    </section>
                </article>
                <article class="home-productos">
                    <figure><img src="imgs/index/componentGC.jpg" alt="producto"></figure>
                    <section>
                        <h3>Nombre</h3>
                        <p class="detalle">Detalle</p>
                    </section>
                    <p class="home-precio">$$$</p>
                    <section class="home-precio-anterior-desc">
                        <p class="precio-anterior">$$$</p>
                        <p class="off">%OFF</p>
                    </section>
                </article>
            </section>
        </section>
    </main>
    <footer>
        <section class="left-footer">
            <p>Términos y condiciones</p>
            <p>Comentarios</p>
        </section>
        <section class="right-footer">
            <p>Seguinos</p>
            <nav class="iconos">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
            </nav>
        </section>
        <section class="center-footer">
            <p>Copyright © 2021 - MAT Team</p>
        </section>
    </footer>
</body>
</html>