<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <title>Iniciar Sesión</title>
</head>
<body>
    <header>
        
    </header>

    <main>
    <div class="contenedor-login"> 
        <div class="titulo">
            <h1>
                Iniciar Sesion
            </h1>
        </div>

        <div class="datos">
            <h3>
                Usuario
            </h3>
        </div>

        <div class="datos">
            <h3>
                Contraseña
            </h3>
        </div>
        <div class="reset-pw">
            <a href="">Olvidaste tu Contraseña?</a>
        </div>
            <div class="remember-box">
            <label class="container">Recordarme
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="boton-ingresar">
            <h2>
                Ingresar
            </h2>
        </div>

        <hr class="divisor">
        <div class="titulo">
            <h2>¿Ya tenes cuenta?</h2>
        </div>
        <div class="boton-registrarse">
            <h2>Registrate
        </div>
    </div>
    </main>
    <footer>
        <div class="cont-footer">

        </div>
    </footer>
</body>
</html>