<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;600;700&family=Lato:wght@700&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <title>Inicia Sesion</title>
</head>
<body>
    <header>
        <a href="/"><img class="logo" src="/imgs/logo_final.svg" alt="logo"></a>
    </header>
    <main>
        <div class="main-div-container">
            <form action="/" method="POST">
                <h1>
                    Iniciar Sesión
                </h1>
                <div class="input-user-cred">
                    <label for="user"></label>
                    <input type="text" name="user" id="user" placeholder="Usuario" class="datos" required>
                </div>
                <div class="input-user-cred">
                    <label for="password"></label>
                    <input type="password" name="password" id="password" placeholder="Contraseña" class="datos" required>
                </div>
                <a href="#" class="forget-link">Olvidaste tu contraseña?</a>
                <div class="remember-me-checkbox">
                    <label for="remember-me">Recordarme</label>
                    <input type="checkbox" name="remember-me" id="remember-me">
                </div>
                <div>
                    <button type="submit" id="boton-ingresar">
                        Ingresar
                    </button>
                </div>
                <div class="divider"></div>
                <div class="register-section">
                    <h2>
                        ¿No tenes cuenta?
                    </h2>
                    <button type="button" id="boton-link-registrarse">
                        <a href="/register">Registrate</a>
                    </button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <section>
            <div class="left-footer">
                <p>Términos y condiciones</p>
                <p>Comentarios</p>
            </div>
            <div class="right-footer">
                <p>Seguinos</p>
                <div class="iconos">
                    <div><i class="fab fa-instagram"></i></div>
                    <div><i class="fab fa-twitter"></i></div>
                    <div><i class="fab fa-facebook-f"></i></div>
                </div>
            </div>
        </section>
        <div class="center-footer">
            <p>Copyright © 2021 - MAT Team</p>
        </div>
    </footer>
</body>
</html>