<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://kit.fontawesome.com/6fadb1d758.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;600;700&family=Lato:wght@700&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/productCart.css">

    <title>Carrito de compras</title>
</head>
<body>
    <header>
        <!-- MENU DESPLEGABLE -->
        <div class="burger">
            <i class="fas fa-bars"></i>
        </div>

        <figure class="logo"><img src="/imgs/logo_final.svg" alt="logo"></figure>

        <!-- BUSCADOR -->
        <form method="post" action="#" class="buscador">
            <fieldset>
                <input type="search" name="serchbar" placeholder="Buscar...">
            </fieldset>
            <button type="submit" class="buscar"><i class="fas fa-search"></i></button>
        </form>

        <!-- CARRITO Y USER -->
        <div class="header-right">
            <a href="/productCart" class="cart"><i class="fas fa-shopping-cart"></i></a>
            <div class="user-login">
                <a href="/login" class="login"><i class="far fa-user-circle"></i></a>
                <p class="usuario"><a href="/login">Iniciar Sesión</a></p>
            </div>
        </div>
    </header>

    <main>
        <!-- MENU DE NAVEGACIÓN -->
        <nav class="navbar">
            <h2>Todas las categorias</h2>
            
            <ul>
                <li><a href="#">Categoría 1</a></li>
                <li><a href="#">Categoría 2</a></li>
                <li><a href="#">Categoría 3</a></li>
            </ul>
        </nav>

        <!-- CUERPO -->
        <section class="container-main">
            <div class="title">
                <h2 class="selected">Carrito</h2>
                <h2>Favoritos</h2>
            </div>

            <article class="products-container">
               <div>
                    <section class="product"> 
                        <h3>Nombre</h3>
                        <div class="controlUnidades"></div>
                        <p>$$$</p>
                    </section>
                </div>

                <div>
                    <section class="product">
                        <h3>Nombre</h3>
                        <div class="controlUnidades"></div>
                        <p>$$$</p>
                    </section>
                </div>
            </article>

            <article class="units-total">
                <section class="units">
                    <h3>Unidades: <span>2</span></h3>
                </section>

                <section class="total">
                    <h3>Total: <span>$$$</span></h3>
                </section>
            </article>

            <button class="buy-button">Realizar pedido</button>
            
        </section>
    </main>

    <footer>
        <section>
            <div class="left-footer">
                <p>Términos y condiciones</p>
                <p>Comentarios</p>
            </div>
            <div class="right-footer">
                <p>Seguinos</p>
                <div class="iconos">
                    <div><i class="fab fa-instagram"></i></div>
                    <div><i class="fab fa-twitter"></i></div>
                    <div><i class="fab fa-facebook-f"></i></div>
                </div>
            </div>
        </section>
        <section class="center-footer">
            <p>Copyright © 2021 - MAT Team</p>
        </section>
    </footer>
</body>
</html>