<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css">

    <title>Carrito de compras</title>
</head>
<body>
    <header>
        <div class="hamburger"><i class="fas fa-bars"></i></div>
        <button class="buscar"><i class="fas fa-search"></i></button>
        <div class="cart"><a href="/views/productCart.html"><i class="fas fa-shopping-cart"></i></a></div>
    </header>
    <main>
        <h2>Carrito</h2>
        <h2>Favoritos</h2>

        <h3>Nombre</h3>
        <div class="controlUnidades"></div>
        <p>$$$</p>

        <h3>Nombre</h3>
        <div class="controlUnidades"></div>
        <p>$$$</p>

        <h3>Unidades</h3>
        <p>2</p>
        <h3>Total</h3>
        <p>$$$</p>
        <button>Realizar pedido</button>
    </main>
    <footer>
        <section>
            <p>Términos y condiciones</p>
            <p>Comentarios</p>
        </section>
        <section>
            <p>Seguinos</p>
            <div><i class="fab fa-instagram"></i></div>
            <div><i class="fab fa-twitter"></i></div>
            <div><i class="fab fa-facebook-f"></i></div>
        </section>
        <p>Copyright © 2021 - MAT Team</p>
    </footer>
</body>
</html>