<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/6fadb1d758.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;600;700&family=Lato:wght@700&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    
    <title>Detalle de producto</title>
</head>
<body>
    <header>
        <!-- MENU DESPLEGABLE -->
        <i class="fas fa-bars burger"></i> <!-- elimine el div y pase la clase a la etiqueta i -->

        <figure class="logo">
            <a href="/"><img src="/imgs/logo_final.svg" alt="logo"></a>
        </figure>

        <!-- BUSCADOR -->
        <form method="post" action="#" class="buscador">
            <fieldset>
                <input type="search" name="serchbar" placeholder="Buscar...">
            </fieldset>
            <button type="submit" class="buscar"><i class="fas fa-search"></i></button>
        </form>

        <!-- CARRITO Y USER --> 
        <nav class="header-right">
            <a href="/productCart" class="cart"><i class="fas fa-shopping-cart"></i></a>
            <section class="user-login"> <!-- preguntar que hacer con login y user-login -->
                <a href="/login" class="login"><i class="far fa-user-circle"></i></a>
                <p class="usuario"><a href="/login">Iniciar Sesión</a></p>
            </section>
        </nav>
    </header>

    <main>
        <!-- MENU DE NAVEGACIÓN -->
        <nav class="navbar">
            <h2>Todas las categorias</h2>
            
            <ul>
                <li><a href="#">Categoría 1</a></li>
                <li><a href="#">Categoría 2</a></li>
                <li><a href="#">Categoría 3</a></li>
            </ul>
        </nav>

        <!-- CUERPO -->
        <section>
            <section class="container-main">
            
                <figure class="product-img">
                    <i class="fas fa-angle-left i-left"></i>
                    <img src="/imgs/productDetail/productDetail-temp.png" alt="producto">
                    <i class="fas fa-angle-right i-right"></i>
                </figure>

                <article class="product-article">
                    <!-- DATA PRINCIPAL -->
                    <section class="product-title">
                        <h1>Nombre</h1>

                        <h2>Marca</h2>
                    </section>

                    <section class="product-elements">
                        <article class="product-details">
                            <h3>Precio: $$$</h3>

                            <ul>
                                <li>Envio: Gratis! <i class="fas fa-truck"></i></li>
                                <li>Disponibilidad: <i class="fas fa-check"></i></li>
                                <li>Medio de pago: <i class="fab fa-cc-visa"></i> <i class="fab fa-cc-amex"></i></li>
                                <li>Garantia: Dato</li>    
                            </ul>
                            
                            <form action="/" method="POST" required>
                                <label>Cantidad:</label>
                                <select name="cantidad" id="cantidad">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </form>
                        </article>

                        <section class="product-icons">
                            <i class="fas fa-share-alt share"></i>

                            <i class="far fa-heart heart"></i>
                        </section>
                    </section>

                    <!-- BOTONES -->
                    <section class="buttons">
                        <button type="submit" class="buy-button">Comprar</button>

                        <button type="submit" class="cart-button">Añadir al carrito</button>
                    </section>

                    <!-- INFO Y VIDEOS -->
                    <section class="info-producto-mobile">
                        <article>
                            <h3>Características</h3>

                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, nemo distinctio fugiat repellendus rem, deserunt nihil nisi quis repellat et numquam placeat. Voluptates, porro unde. Iusto nesciunt praesentium expedita mollitia.</p>
                        </article>

                        <article>
                            <h3>Especificaciones</h3>

                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, nemo distinctio fugiat repellendus rem, deserunt nihil nisi quis repellat et numquam placeat. Voluptates, porro unde. Iusto nesciunt praesentium expedita mollitia.</p>
                        </article>

                        <article>
                            <h3>Videos</h3>

                            <p class="product-vid"></p>
                        </article>
                    </section>
                </article>
            </section>

            <section class="info-producto-desktop">
                <article>
                    <h3>Características <i class="fas fa-chevron-down"></i></h3>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, nemo distinctio fugiat repellendus rem, deserunt nihil nisi quis repellat et numquam placeat. Voluptates, porro unde. Iusto nesciunt praesentium expedita mollitia.</p>
                </article>

                <article>
                    <h3>Especificaciones <i class="fas fa-chevron-down"></i></h3>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, nemo distinctio fugiat repellendus rem, deserunt nihil nisi quis repellat et numquam placeat. Voluptates, porro unde. Iusto nesciunt praesentium expedita mollitia.</p>
                </article>

                <article>
                    <h3>Videos <i class="fas fa-chevron-down"></i></h3>

                    <p class="product-vid"></p>
                </article>
            </section>
        </section>
    </main>

    <!-- FOOTER -->
    <footer>
        <section class="left-footer">
            <p>Términos y condiciones</p>
            <p>Comentarios</p>
        </section>
        <section class="right-footer">
            <p>Seguinos</p>
            <nav class="iconos">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
            </nav>
        </section>
        <section class="center-footer">
            <p>Copyright © 2021 - MAT Team</p>
        </section>
    </footer>
</body>
</html>