<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/register.css">
    
    <title>Crear Cuenta</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div class="cont-register">
            <div class="titulo">
                <h1>
                    Registrate
                </h1>
            </div>
            <div class="datos">
                <h3>
                    E-MAIL
                </h3>
            </div>
            <div class="datos">
                <h3>
                    Usuario
                </h3>
            </div>
            <div class="datos">
                <h3>
                    Contraseña
                </h3>
            </div>
            <div class="datos">
                <h3>
                    Repetir Contraseña
                </h3>
            </div>
            <button type= button id="create-account">
                Crear Cuenta
            </button>
            <hr class="divisor">
            <div class="titulo">
                <h2>
                    ¿Ya tenes cuenta?
                </h2>
            </div>
            <button type='button' id="login-button">
                <a href="/login">
                    <h2>
                        Ingresa
                    </h2>
                </a>
            </button>
        </div>
    </main>
    <footer>
        <div class="cont-footer">
            <section class="left-footer">
                <p>Términos y condiciones</p>
                <p>Comentarios</p>
            </section>
            <div class="center-footer">
                <p>Copyright © 2021 - MAT Team</p>
            </div>
            <section class="right-footer">
                <p>Seguinos</p>
                <div class="iconos">
                    <div><i class="fab fa-instagram"></i></div>
                    <div><i class="fab fa-twitter"></i></div>
                    <div><i class="fab fa-facebook-f"></i></div>
                </div>
            </section>
        </div>
    </footer>
</body>
</html>