main{
    padding:1rem;
    padding-bottom: 126px;
}
/***************** CLASES **********************/
/* Carousel */
.carousel{
    display: flex;
    align-items:center;
    flex-wrap: inherit;
}
.carousel figure{
    margin:0;
    width:100%;
}
.carousel img{
    width:100%;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px black;
}
.i-left, .i-right{
    color: #fff;
    font-size:3rem;
    width: 0;
    position: relative;
}
.i-left{
    left:5%;
}
.i-right{
    right: 5%;
}
.carousel i:hover{
    animation:aumentar 0.4s alternate infinite;
}
@keyframes aumentar{
    100%{
        transform: scale(1.2);
    }
}
/* Ofertas */
.home-contenido{
    margin: 1.5rem auto;
    background-color: #fff;
    border:3px solid #CACADC;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.home-ofertas{
    width: 100%;
    padding:0 1rem;
    display: flex;
    align-items:center;
}
.ver-todo{
    margin-top:10px;
    padding:0 1rem;
}
.ver-todo a{
    text-decoration: none;
    color: black;
    font-size:1.2rem;
    transition:color 0.2s ease-in-out;
    transition:font-weight 0.1s linear;
}
.ver-todo a:hover{
    color: #6765D6;
    font-weight: bold;
}
.home-productos{
    margin-bottom: 1rem;
    width:90%;
    padding: 1rem;
    border:2px solid #E3E3E3;
    border-radius:10px;
    display: flex;
    flex-direction:column;
    transition: box-shadow 0.2s ease-in-out;
}
.home-productos:hover{
    box-shadow: 1px 1px 10px 1px #969FAA;
}
.home-productos figure{
    margin:0;
    margin: auto;
}
.home-productos img{
    width:100%;
    border: 1px solid #E3E3E3;
}
.detalle{
    font-style: italic;
}
.home-precio{
    display: flex;
    justify-content: center;
}
.home-precio-anterior-desc{
    display: flex;
    justify-content:space-between;
}
.precio-anterior{
    text-decoration: line-through;
    color: #969FAA;
}
.off{
    color:#77D353;
}
.home-detalle-hover{
    visibility: visible;
    overflow: hidden;
    border: 1px solid red;
}

/**************** MEDIA QUERIES ****************/
/* Tablet */
@media (min-width: 481px){
    /* Ofertas */
    .home-contenido{
        flex-direction: row;
        flex-wrap: wrap;
        align-items:center;
        justify-content: space-between;
        padding: 0 2rem;
    }
    .home-productos{
        width:48%;
    }
}
/* Desktop */
@media (min-width: 769px){
    main{
        display: flex;
        justify-content:flex-end;
        position: relative;
    }
    .carousel-contenido{
        width:78%;
    }
    /* Ofertas */
    .home-productos{
        width:32%;
    }
}