*{
  box-sizing: border-box;
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: normal;
}

body{
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh ;
}
header{
  background-color: #1A2028;
  width: 100%;
  height: 30vh;
  min-height: 195px;
  max-height: 220px;
}
main{
  flex-grow: 1;
}
.contenedor-login{
  width: 90%;
  max-width: 320px;
  margin: auto;
  margin-top: -8rem;
  margin-bottom: 10px;
  background-color: #E9E9E9;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #1A2028
}
h1,h2,h3{
  margin: 0px;
}
.titulo{
  margin: 25px 0px 25px;
}
h1{
  text-transform: uppercase;
  font-weight: normal;
}
.datos{
  color: rgba(75, 75, 75, 0.507);
  background-color: #F3F3F3;
  border: 1px solid black;
  font-size: 18px;
  margin: 20px auto 20px;
  width: 93%;
  padding: 10px;
  border-radius: 7px;
}
.datos h3{
  font-size: 15px;
}
.reset-pw {
  text-align: right;
  width: 90%;
  margin-bottom: 20px;
}
.remember-box{
  margin-left: 10%;
  width: 80%;
  text-align: left;
}

.boton-ingresar{
  color: white;
  border: 1px solid black;
  text-transform: uppercase;
  background-color: #6765D6;
  margin: auto;
  margin-top: 10px;
  width: 97%;
  padding: 8px 0px 8px;
  border-radius: 8px;
}
.boton-ingresar h2{
  font-weight: normal;
  font-size: 20px;
}

.divisor{
  margin: 20px 0px 20px;
}
.titulo h2{
  font-weight: normal;
}
.boton-registrarse{
  background-color: #cacadc;
  color: #6765D6;
  margin: 20px auto 20px;
  padding: 8px 0px 8px;
  width: 97%;
  border-radius: 8px;
  border: 1px solid black;
}
.boton-registrarse h2{
  font-weight: normal;
  font-size: 20px;
}

footer{
  width: 100%;
  background-color: #1A2028;
  color: white;
  font-size: 12px;
}

.cont-footer{
  border-top: 1px solid black;
  display: flex;
  justify-content: space-around;
}
.fab{
  margin: 0px 5px 0px; 
}

.center-footer{
  align-self: flex-end;
}
.center-footer p{
  margin: auto;
}

.iconos{
  display: flex;
  justify-content: space-between;
}

/***Media query tablet****/
  /*max-width: 400px;
  margin: auto;
  margin-top: -8rem;
  background-color: #E9E9E9;
  border-radius: 10%;
  padding: 20px;
  border: 1px solid #1A2028*/