/***************** ETIQUETAS *******************/
main {
    padding: 10px 1rem 1px;
    display: flex;
    flex-wrap: wrap;
}

h1{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    font-size:30px;
}

h3 {
    margin: 0;
}

p, ul, footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

figure{
    margin:0;
}

/***************** CLASES **********************/
.container-main {
    width: 98%;
    margin: auto;
    background-color: #fff;
    border: 3px solid #CACADC;
    border-radius: 10px;
    padding: 8px;
}

.product-img {
    background-color: #CACADC;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.product-img img {
    width: 80%;
    max-width: 360px;
}

.product-vid {
    background-color: #CACADC;
}

/* Artículo */

.product-article {
    padding: 5px;
}

/* Título */

.product-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid black;
    padding: 8px;
}

.product-title h1, .product-title h2 {
    margin: 0;
}

.product-elements {
    display: flex;
    justify-content: space-between;
}

/* Detalles */

.product-details {
    padding: 15px 8px;
    width: 65%
}

.product-details h3 {
    margin-bottom: 20px;
}

.product-details ul {
    list-style: none;
    padding-left: 0px;
}

.product-details li {
    margin-bottom: 10px;
}

.product-details .controlUnidades {
    width: 10%;
    border: 1px solid black;
    padding: 12px 45px;
    display: inline-block;
}

/* Iconos */

.product-icons {
    width: 30%;
    padding: 15px 0;
    font-size: 1.7rem;
    display: flex;
    justify-content: space-around;
    transition: 0.5s color;
}

.product-icons i {
    height: fit-content;
    transition: 0.5s color;
}

.product-icons .heart:hover {
    color: #6765D6/*rgb(244, 91, 91)*/;
}

.product-icons .share:hover {
    color: #6765D6/*rgb(90, 225, 255)*/;
}

/* Botones */

.buttons {
    display: flex;
    justify-content: space-around;
}

.buy-button, .cart-button {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 40%;
    max-height: 42px;
    transition: 0.5s background-color;
}

.buy-button {
    background-color: #6765D6;
    color: #fff;
    min-width: 104px;
}

.buy-button:hover {
    background-color: #5250ae;
}

.cart-button {
    background-color: #CACADC;
    color: #6765D6;
    min-width: 158px;
}

.cart-button:hover {
    background-color: #b5b5c9;
}

/* Informacion del producto */

.info-producto-mobile {
    background-color: #E8E8E8;
    padding: 10px;
    margin-top: 20px;
}

.info-producto-mobile article {
    margin-bottom: 15px;
}

.info-producto-mobile h3 {
    margin-bottom: 8px;
}

.info-producto-desktop {
    display: none;
}

@media (min-width: 481px) {    
    .product-icons {
        width: 25%;
    }
}

@media (min-width: 769px) {
    main {
        display: flex;
        justify-content: flex-end;
        position: relative;
    }

    main > section {
        width: 78%;
    }

    .container-main {
        width: 100%;
        margin: initial;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product-article {
        width: 55%;
        /*display: flex;
        flex-direction: column;
        justify-content: space-around;*/
    }

    .product-img {
        width: 40%;
        min-width: 240px;
    }

    .product-img img {
        width: 100%;
    }    

    .info-producto-mobile {
        display: none;
    }

    .info-producto-desktop {
        width: 100%;
        display: flex;
        margin-top: 1rem;
        justify-content: space-between;
    }

    .info-producto-desktop article {
        height: fit-content;
        background-color: #E8E8E8;
        border-radius: 10px;
        padding: 5px;
        width: 32%;
    }

    .info-producto-desktop article p {
        visibility: hidden;
        height: 0vh;
        overflow: hidden;
        transition: all 0.5s;
    }

    /*@keyframes rotar {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotateZ(-180deg);
        }
    }

    .info-producto-desktop article:hover > h3 i {
        animation: rotar 0.5s ease-in-out;
    }*/

    .info-producto-desktop article:hover > p {
        height: 20vh;
        visibility: visible;
    }

    .product-vid {
        width: 100%;
    }
}