/***************** ETIQUETAS *******************/
main {
    padding: 10px 1rem 1px;
}

h3 {
    margin: 0;
}

p, ul, footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
figure{
    margin:0;
}
/***************** CLASES **********************/
.container-main {
    width: 98%;
    margin: auto;
    background-color: #fff;
    border: 3px solid #CACADC;
    border-radius: 10px;
    padding: 8px;
}

.product-img, .product-vid {
    background-color: #CACADC;
    height: 60vw;
}

/* Artículo */

.product-article {
    padding: 5px;
}

/* Título */

.product-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid black;
    padding: 8px;
}

.product-title h1, .product-title h2 {
    margin: 0;
}

.product-elements {
    display: flex;
    justify-content: space-between;
}

/* Detalles */

.product-details {
    padding: 15px 8px;
    width: 65%
}

.product-details h3 {
    margin-bottom: 20px;
}

.product-details ul {
    list-style: none;
    padding-left: 0px;
}

.product-details li {
    margin-bottom: 10px;
}

/* Iconos */

.product-icons {
    width: 35%;
    padding: 15px 8px;
    font-size: 1.7rem;
    display: flex;
    justify-content: space-around;
}

/* Botones */

.buttons {
    display: flex;
    justify-content: space-around;
}

.buy-button, .cart-button {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 40%;
    max-height: 42px;
}

.buy-button {
    background-color: #6765D6;
    color: #fff;
    min-width: 104px;
}

.cart-button {
    background-color: #CACADC;
    color: #6765D6;
    min-width: 158px;
}

/* Informacion del producto */

.info-producto {
    background-color: #E8E8E8;
    padding: 10px;
    margin-top: 20px;
}

.info-producto article {
    margin-bottom: 15px;
}

.info-producto h3 {
    margin-bottom: 8px;
}

@media (min-width: 481px) {    
    .product-icons {
        width: 20%;
    }
}

@media (min-width: 769px) {
    main {
        display: flex;
        justify-content: flex-end;
        position: relative;
    }

    .container-main {
        width: 45%;
        margin: initial;
    }
    
    .product-img, .product-vid {
        width: 28vw;
        max-height: 340px;
    }

    .product-img {
        position: absolute;
        right: 48vw;
    }

    .info-producto {
        background-color: transparent;
        position: absolute;
        right: 2vw;
        left: 23vw;
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
        z-index: 1;
    }

    .info-producto article {
        background-color: #E8E8E8;
        border-radius: 10px;
        padding: 5px;
        width: 32%;
    }

    .info-producto article p {
        visibility: hidden;
        height: 0vh;
        overflow: hidden;
        transition: all 0.5s;
    }

    .info-producto article {
        height: fit-content;
    }

    article:hover > p {
        height: 20vh;
        visibility: visible;
    }

    .product-vid {
        width: 100%;
    }
}