#content-container, figure, #product-img{
    margin: auto;
}
#content-container{
    background-color: white;
    box-shadow: 1px 1px 10px 1px #666666;
    max-width: 1000px;
    padding-bottom: 20px;
}
/*Producto a Editar*/
form, h1, figure h2{
    text-align: center;
}
h1{
    color: white;
    background-color: #6765D6;
    width: 100%;
    margin: 0 0 20px;
    padding: 10px;
}
figure{
    width: 98%;
    height: fit-content;
    border: 1px solid black;
    max-width: 391px;
}
#product-img{
    display: block;
    width: 100%;
}
figure h2{
    background-color: #CACADC;
    margin: 0px;
    padding: 5px;
}

form{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
form fieldset{
    display: flex;
    flex-direction: column;
}
main input{
    height: 30px;
}

.product-info-labels{
    margin: 15px 0 15px;
}

.product-info{
    background-color: #f3f3f3;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 5px;
    width: 95%;
    margin: auto;
}

#button-submit{
    background-color: #6765D6;
    border: 1px solid black;
    color: white;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 30px;
    padding: 8px 0px;
    border-radius: 8px;
    width: 97%;
    transition: all .4s;
}
#button-submit:hover{
    cursor: pointer;
    background-color: #3633C1;
}

@media(min-width:769px){
    #flexbox{
        display: flex;
    }
    #content-container{
        width: 95%;
        margin: 20px auto;
        border-radius: 5px;
    }
    h1{
        margin: 0 0 15px;
        border-radius: 4px 4px 0 0;
    }
    #product-img-figure{
        margin: 0px 15px;
        max-width: 312px;
    }
    #product-info-section{
        width: 100%;
    }
    
    
}