*{
    box-sizing: border-box;
}
main{
    padding: 0px 0px 126px;
}
#content-container, figure, #product-img{
    margin: auto;
}
#content-container{
    background-color: white;
    box-shadow: 1px 1px 10px 1px #666666;
    max-width: 1000px;
    padding-bottom: 20px;
}
/*Producto a Editar*/
form, h1{
    text-align: center;
}
h1{
    color: white;
    background-color: #6765D6;
    width: 100%;
    margin: 0 0 20px;
    padding: 10px;
}

form{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 5px;
}
form fieldset{
    display: flex;
    flex-direction: column;
}
main input{
    height: 30px;
}
.product-info-labels{
    margin: 15px auto ;
}

.product-info{
    background-color: #f3f3f3;
    border: 1px solid rgb(73, 73, 73); 
    border-radius: 5px;
    width: 95%;
    margin: auto;
}

#button-create{
    background-color: #6765D6;
    border: 1px solid black;
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 8px 0px;
    border-radius: 8px;
    width: 97%;
    transition: all .4s;
}
#button-create:hover{
    cursor: pointer;
    background-color: #3633C1;
}

@media(min-width: 769px){
    main{
        padding: 20px 0 146px;
    }
}