legend{
    border-radius: 2px;
    width: fit-content;
    background-color: #CACADC;
}
legend img{
    width: 100%;
    max-width: 320px;
}

@media(min-width: 769px){
    legend{
        margin-left: 1vw;
        float:left;
        margin-bottom: 200px;
    }
    .small-input{
        margin-top: 20px;
    }
    #fieldset-small{
        padding: 0px;
        flex-direction: column;
        height: 581px;
    }
    .small-input-labels{
        width: 50%;
        margin-top: 0px;
    }
}
@media(min-width: 965px){
    .small-input-labels{
        width: 60%;
    }
}
@media(min-width: 1280px){
    .small-input-labels{
        width: 70%;
    }
}