*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    min-height: 100vh;
}

/***********   HEADER   ************/
header{
    background-color: #1A2028;
    width: 100%;
    height: 220px;
}
.logo{
    width: 100%;
    max-width: 491px;
}


/***********    MAIN   ************/
main{
    flex-grow: 1;
}

/***Contenedor del formulario***/
.main-div-container{
    width: 90%;
    max-width: 320px;
    margin: -8rem auto 10px;
    background-color: #E9E9E9;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #1A2028
}

h1{
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    margin: 25px 0px 25px;
}

/***Divs contenedores de los inputs***/
.input-user-cred{
    margin: 20px auto 20px;
}

/***Estilo del input***/
.datos{
    font-family:'Montserrat', sans-serif;
    text-align: center;
    border: 1px solid black;
    width: 93%;
    padding: 10px;
    border-radius: 7px;
    font-size: 16px; 
}


/*** Boton crear cuenta***/
#boton-crear{
    color: white;
    border: 1px solid black;
    text-transform: uppercase;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    background-color: #6765D6;
    margin: auto;
    margin-top: 10px;
    width: 97%;
    padding: 8px 0px 8px;
    border-radius: 8px;
}


.divider{
    border-top: 1px solid black;
    margin: 20px 0px 20px;
}

/*** Seccion redireccion a login***/
.login-section h2{
    font-weight: 400;
}
#boton-link-login{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    background-color: #cacadc;
    margin: 20px auto 20px;
    padding: 8px 0px 8px;
    width: 97%;
    border-radius: 8px;
    border: 1px solid black;
}
#boton-link-login a{
    display: block;
    width: 100%;
}
a:link {
    text-decoration: none;
    color: #6765D6;
}
a:visited{
    color: #6765D6;
}


/*********  FOOTER  **********/
footer{
    font-family:'Montserrat', sans-serif;
    background-color: #1A2028;
    color: #fff;
}

/***seccion terminos... y redes sociales***/
footer section{
    display:flex;
    justify-content:space-around;
}

/***distancia entre los iconos del footer***/
.fab{
    margin: 0px 5px 0px; 
}
.left-footer p{
    margin: 12px 0px 12px;
}
.right-footer p{
    margin: 12px 0px 12px;
}

.iconos{
    display: flex;
    justify-content: space-between;
}