*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    position: relative;
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    min-height: 100vh;
}
/***********   HEADER   ************/
header{
    background-color: #1A2028;
    width: 100%;
    height: 220px;
}
.logo{
    width: 87vw;
    max-width: 278px;
    margin-top: 20px;
    transition: all .4s;
}
.logo:hover{
    transform: scale(1.4);
}

/***********    MAIN   ************/
main{
    padding-bottom: 127px;
}
p{
    font-family:'Montserrat', sans-serif;
}
/***Seccion beneficios desktop***/
.main-section-desktop{
    display: none;
    width: 50%;
    padding: 3rem;
    border-right: 1px solid #d4d3d3;
}
.article-descrip{
    display: flex;
}
.article-descrip i{
    font-size: 2em;
    margin-right: 15px;
}
.main-section-desktop h3{
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
}
.main-section-desktop p{
    text-align: left;
    font-size: 14px;
    margin-bottom: 20px;
}

/***Contenedor del formulario***/
.main-section-container{
    width: 90%;
    max-width: 320px;
    margin: -8rem auto 10px;
    background-color: #E9E9E9;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #1A2028
}
form{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
fieldset{
    border: none;
}
legend{
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}

/***Estilo del input***/
.datos{
    font-family:'Montserrat', sans-serif;
    text-align: center;
    border: 1px solid black;
    width: 93%;
    margin: 15px auto;
    padding: 10px;
    border-radius: 7px;
    font-size: 16px; 
}
/*** Boton crear cuenta***/
#boton-crear{
    background-color: #6765D6;
    color: white;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 10px;
    padding: 8px 0px 8px;
    width: 97%;
    transition: all .4s;
}
#boton-crear:hover{
    cursor: pointer;
    background-color: #3633C1;
}
/*** Seccion redireccion a login***/
.login-section{
    margin-top: 20px;
}
.login-section h2{
    font-weight: 400;
}
#boton-link-login{
    background-color: #cacadc;
    font-size: 22px;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 8px;
    margin: 20px auto 20px;
    padding: 0px;
    width: 97%;
    transition: all .4s;
}
#boton-link-login a{
    display: block;
    padding: 8px 0px;
    width: 100%;
    text-decoration: none;
    color: #6765D6;
    transition: all .4s;
}
#boton-link-login:hover{
    background-color: #6765D6;
}
#boton-link-login:hover > a{
    color: white;
}

/*********  FOOTER  **********/
footer{
    width:100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #1A2028;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    position:absolute;
    bottom:0px;
}
footer section{
    width:45%;
}
footer p{
    margin: 15px 0px 15px;
}
.iconos{
    width:30%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.center-footer{
    color: #A6ADB7;
    width:100%;
}
.right-footer a{
    color: #fff;
}

/*********  MEDIA QUERIES  **********/

@media (min-width: 769px){
    header{
        height: fit-content;
        background-color: white;
        margin-bottom: 20px;
    }
    .main-section{
        display: flex;
        margin: 0px auto 10px;
        max-width: 1252px;
    }
    .main-section-desktop{
        display: block;
    }
    .main-section-container{
        margin: 0px auto;
    }
}