* {
    box-sizing: border-box;
}
/***************** ETIQUETAS *******************/
body {
    position: relative;
    min-height: 100vh;
    background-color: #7B8A99;
}
h1{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    font-size:30px;
}
h2{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    font-size:30px;
}
h3{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    font-size:25px;
}
p, footer, #buscador{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
main{
    padding: 0px 0px 126px;
}
/******* Encabezado ********/
header{
    height: 80px;
    background-color:#1A2028;
    padding:1rem;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
/* Buscador en form */
form *{
    border: none;
}
header form{
    width:50%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    border-radius: 5px;
    padding:0;
}

header form input{
    width:100%;
    padding:10px;
    border-radius: 4px 0 0 4px;
    transition: all .2s;
}
header form input:focus{
    outline: 0px;
    box-shadow: 0 0 0 2px #6765D6 inset;
}
header form input:hover{
    box-shadow: 0 0 0 2px #6765D6 inset;
}
header form button{
    background-color: #6765D6;
    border-radius: 0 2px 2px 0;
    padding:0 0.5rem;
    color: #fff;
}
/******* Footer *******/
footer{
    width:100%;
    background-color: #1A2028;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    position:absolute;
    bottom:0px;
}
footer section{
    width:45%;
}
/***************** CLASES **********************/
/****** Encabezado *******/
.burger{
    width: 20%;
    padding: 2px;
    color: white;
    display:block;
    text-align: center;
    font-size:1.5rem;
}
.logo{
    display:none;
    margin: 5px 0 0 1rem;
}
#header-right{
    width:20%;
    text-align: center;
}
#cart{
    color: white;
    font-size:1.5rem;
}
#usuario{
    display:none;
}
#login{
    display:none;
    color: #fff;
    text-decoration: none;
    font-size:1.5rem;
}
/*Navegacion*/
.navbar{
    display: none;
    background-color: #F6F6F6;
    box-shadow: 1px 0 10px #666666;
    border-radius: 15px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.navbar ul{
    list-style: none;
    padding: 0;
    margin:0;
}
.navbar a{
    text-decoration: none;
    color: #47525E;
}
.navbar h2{
    font-size:1.5rem;
}

.navbar a:hover{
    color:#6765D6;
    font-weight: bold;
}
/******* Footer *******/
#iconos{
    font-size: 25px;
    min-width: 100px;
    width:30%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition:text-shadow 0.5s ease-in-out;
}
header i:hover, header p:hover{
    text-shadow: 1px 1px 20px #7e7cff;
}
#center-footer{
    color: #A6ADB7;
    width:100%;
}
#right-footer a{
    color: #fff;
}

/**************** MEDIA QUERIES ****************/
/* Tablet */
@media (min-width: 481px) {
    form{
        border-radius: 5px;
    }
    #header-right {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #login{
        display: block;
    }
}
/* Desktop */
@media (min-width: 769px){
    /******** ID *********/
    #contenido{
        width: 78%;
        margin-top:1rem;
    }
    /******** CLASES *********/
    /* Encabezado*/
    .logo{
        width:20%;
        display: block;
    }
    .burger{
        display: none;
    }
    #header-right{
        text-align:left;
    }
    #user-login p{
        display: block;
        margin: 0 5px;
    }
    #user-login a{
        text-decoration: none;
        color: #fff;
    }
    #user-login{
        margin: 20px;
        display: flex;
        align-items:center;
        justify-content: space-between;
    }
    /*Menu de navegacion*/
    .navbar{
        width:20%;
        display:flex;
        flex-direction:column;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        position:absolute;
        top:15px;
        left:1rem;
    }
    .navbar li{
        padding:1rem 0;
    }
    #productCreate {
        border-top: 1px solid #c4c3c3;
    }
}