/***************** ID **********************/
/*Navegacion*/
#navbar{
    display: none;
    background-color: #F6F6F6;
    box-shadow: 1px 0 10px #666666;
    border-radius: 15px;
    text-align: center;
    transition: font-weight 0.5s ease-in-out;
}
#navbar ul{
    list-style: none;
    padding: 0;
    margin:0;
}
#navbar a{
    text-decoration: none;
    color: #47525E;
}
#navbar h2{
    font-size:1.5rem;
}

#navbar a:hover{
    color:#6765D6;
    font-weight: bold;
}

/* Carousel */
aside{
    display: flex;
    align-items:center;
    flex-wrap: inherit;
    position: relative;
}
aside figure{
    margin:0;
    width:100%;
}
aside img{
    width:100%;
    display:block;
}
aside i{
    color: #fff;
    font-size:3rem;
    position: absolute;
    transition: transform 0.5s ease-in-out;
}
.i-left{
    left:5%;
}
.i-right{
    right: 5%;
}
aside i:hover{
    transform: scale(1.2);
}
@keyframes aumentar{
    100%{
        transform: scale(1.2);
    }
}
/*** Ofertas ***/
#contenido > section{
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px #666666;
    display: flex;
    flex-direction: column;
    align-items:center;
}
#contenido > section > article{
    width: 100%;
    padding:0 1rem;
    display: flex;
    align-items:center;
}

/* Ver todo */
#contenido > section > article > section{
    margin-top:10px;
    padding:0 1rem;
}
#contenido > section > article > section a{
    text-decoration: none;
    color: black;
    font-size:1.2rem;
    transition:color 0.2s ease-in-out;
    transition:font-weight 0.1s linear;
}
#contenido > section > article > section a:hover{
    color: #6765D6;
    text-decoration:underline;
}

/* Productos en oferta */
#contenido > section > a {
    text-decoration: none;
    color: black;
    margin: 0px 4px 1rem;
    width:90%;
    min-width: 290px;
    max-width: 320px;
    padding: 1rem;
    border:2px solid #E3E3E3;
    border-radius:10px;
    display: flex;
    flex-direction:column;
    transition: box-shadow 0.2s ease-in-out;
}
#contenido > section > a:hover{
    box-shadow: 1px 1px 10px 1px #969FAA;
}
/*Imagen del producto*/
#contenido > section > a figure{
    margin: 0 auto;
    border: 1px solid #E3E3E3;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contenido > section > a img{
    width:100%;
    max-height: 100%;
}
#contenido > section > a h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*detalle*/
#detalle{
    font-style: italic;
}
/*precio*/
#contenido > section > a > article > p{
    display: flex;
    justify-content: center;
}
#precio-anterior-desc{
    display: flex;
    justify-content:space-between;
}
/*precio anterior*/
#precio-anterior{
    text-decoration: line-through;
    color: #969FAA;
}
/*descuento*/
#off{
    color:#77D353;
}

/**************** MEDIA QUERIES ****************/
/* Tablet */
@media (min-width: 481px){
    /* Ofertas */
    #contenido > section{
        flex-direction: row;
        flex-wrap: wrap;
        align-items:center;
        justify-content: space-evenly;
        padding: 0 2rem;
    }
}
/* Desktop */
@media (min-width: 769px){
    main{
        display: flex;
        justify-content:flex-end;
        position: relative;
    }
    aside img{
        border-radius: 20px;
    }
    aside figure{
        margin:0 0 1rem 0;
    }

/***************** ID **********************/
    #contenido {
        width:75%;
        margin-right: 1rem;
    }
    /*Menu de navegacion*/
    #navbar{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 400;
        width:20%;
        display:flex;
        flex-direction:column;
        position:absolute;
        top:15px;
        left:1rem;
    }
    #navbar li{
        padding:1rem 0;
    }
    #productCreate {
        border-top: 1px solid #c4c3c3;
    }
    
    /* Ofertas */
    #contenido > section{
        border-radius: 10px;
        margin: 0 auto 1.5rem ;
    }
    #contenido > section > a{
        width:32%;
    }
}