* {
    box-sizing: border-box;
}
/***************** ETIQUETAS *******************/
body {
    position: relative;
    min-height: 100vh;
    background-color: #7B8A99;
}
h1{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    font-size:30px;
}
h2{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    font-size:30px;
}
h3{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    font-size:25px;
}
h4{
    font-family: 'Montserrat', sans-serif;
    font-size:25px;
    margin: 5px 0 5px;
}
p, footer, #buscador, .errors{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
main{
    padding: 80px 0px 126px;
}
/******* Encabezado ********/
header{
    height: 80px;
    width: 100vw;
    background-color:#1A2028;
    display: flex;
    justify-content:space-around;
    align-items:center;
    position: absolute;
    z-index: 5;
}
header a{
    color: transparent;
}
header a:hover{
    text-shadow: 1px 1px 20px #7e7cff;
}
/* Buscador en form */
form *{
    border: none;
}
header form{
    width:50%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    border-radius: 5px;
    padding:0;
}

header form input{
    width:100%;
    padding:10px;
    border-radius: 4px 0 0 4px;
    transition: all .2s;
}
header form input:focus{
    outline: 0px;
    box-shadow: 0 0 0 2px #6765D6 inset;
}
header form input:hover{
    box-shadow: 0 0 0 2px #6765D6 inset;
}
header form button{
    background-color: #6765D6;
    border-radius: 0 2px 2px 0;
    padding:0 0.5rem;
    color: #fff;
}
/******* Footer *******/
footer{
    width:100%;
    background-color: #1A2028;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    position:absolute;
    bottom:0px;
}
footer section{
    width:45%;
}
/***************** CLASES **********************/
/**Estilo errores**/
.errorsList{
    list-style-position: inside;
    padding: 0px;
}
li.errors{
    margin: 5px 0px;
}
.form-input-error{
    box-shadow: 0px 0px 5px red;
}
.errors{
    color:red;
    font-size: 15px;
    display: inline-block;
    margin: 5px auto;
}
/****** Encabezado *******/
.burger{
    width: 20%;
    padding: 2px;
    color: white;
    display:block;
    text-align: center;
    font-size:1.5rem;
}
/* Navegación */
#navbar{
    width: 100vw;
    background-color: #F6F6F6;
    box-shadow: 1px 0 10px #666666;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    transition: font-weight 0.5s ease-in-out;
    position: absolute;
    z-index: 2;
    transition: visibility 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}
#navbar a:hover{
    color:#6765D6;
    font-weight: bold;
}
#navbar h2{
    font-size:1.5rem;
    margin: 0 auto;
    padding-top: 10px;
}
#navbar ul{
    list-style: none;
    padding: 0;
    margin:0;
}
#navbar li{
    padding:1rem 0;
}
#navbar .catName .fa-info-circle, .detailCat{
    visibility:hidden;
    overflow:hidden;
    display: none;
    color:rgb(162, 154, 154)
}
#navbar .catName:hover .fa-info-circle{
    visibility: visible;
    overflow: visible;
    display: inline-block;
}
#navbar a{
    text-decoration: none;
    color: #47525E;
}
#cart{
    display: none;
}
#cartNav{
    color: #6765D6;
    font-size:1.5rem;
}
.activeMenu{
    visibility:hidden;
    transform: translate(0, -700px);
}
.logo{
    display:none;
    margin: 5px 0 0 1rem;
}
#header-right{
    display:flex;
    align-items:center;
    justify-content: space-around;
}
#usuario{
    display:none;
}
#login{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size:1.5rem;
}
#avatar-cont{
    display: none;
    border-radius: 50%;
    margin: 0;
    width: 47px;
    height: 47px;
    overflow: hidden;
    /*Fix para paginas con etiquetas figure*/
    padding: 0;
    min-width: 0;
}
#avatar-cont{
    display: block;
}
#avatar{
    display: block;
    width: 100%;
    height: 100%;
}
/******* Footer *******/
#iconos{
    font-size: 25px;
    min-width: 100px;
    width:30%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition:text-shadow 0.5s ease-in-out;
}

#center-footer{
    color: #A6ADB7;
    width:100%;
}
#right-footer a{
    color: #fff;
}

/**************** MEDIA QUERIES ****************/
/* Tablet */
@media (min-width: 481px) {
    /***** ETIQUETAS *****/
    form{
        border-radius: 5px;
    }
    /******** ID *********/
    #header-right{
        width:20%;
    }
    #cart{
        display: initial;
        color: white;
        font-size:1.5rem;
    }
    #cartNav{
        visibility:hidden;
        overflow:hidden;
        position: absolute;
        z-index: -100;
    }
}
/* Desktop */
@media (min-width: 769px){
    /******** ID *********/
    #contenido{
        max-width: 1497px;
        width: 95%;
        margin-top:1rem;
    }
    #user-login p{
        display: block;
        margin: 0 5px;
    }
    #user-login{
        text-decoration: none;
        color: #fff;
    }
    #user-login{
        display: flex;
        align-items:center;
        justify-content: space-between;
    }
    #navbar{
        visibility: hidden;
        overflow: hidden;
    }
    /******** CLASES *********/
    /* Encabezado*/
    .logo{
        width:20%;
        display: block;
    }
    .burger{
        display: none;
    }
}