<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <title>Creando un Producto</title>
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style %> ">
    <% }) %>
    <link rel="stylesheet" href="/css/products/productForm.css">
</head>
<body>
    <%- include('../includes/header') %> 
    <main>
        <section id="content-container">
            <h1>Categorias y detalles de productos</h1>
            <form action="/products/create" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <label for="name">Nombre de la Categoria</label>
                    <input type="text">
                    <label for="detail">Ingrese Detalle de la Categoria</label>
                    <textarea name="detail" id="detail" cols="30" rows="10"></textarea>
                    <button type="submit" id="button-submit">Crear</button>
                </fieldset>
            </form>
    </section>
    </main>
        <%-include('../includes/footer') %>
        <script src="/js/home.js"></script>
</body>
</html>