<header>
    <!--Menu de navegacion-->
    <i class="fas fa-bars burger"></i>
    <a href="/" class="logo"><img src="/imgs/logo_final.svg" alt="logo"></a> 
    <!--Buscador-->
    <form id="buscador">
        <input type="search" name="buscar" placeholder="Buscar..." id="searchbar">
        <button type="submit" name="buscar" class="buscar"><i class="fas fa-search"></i></button>
    </form>
    <!--Carrito de compras-->
    <nav id="header-right">
        <% if(user){ %> 
            <a href="/users/cart" id="cart"><i class="fas fa-shopping-cart"></i></a>
        <% } %> 
        <section>
            <% if(user){%>
                <a href="/users/<%= user.id %> " id="user-login">
                    <i id="login" class="far fa-user-circle"></i>
                    <p id="usuario">Perfil</p>
                </a>
            <% } else { %> 
                <a href="/users/login" id="user-login">
                    <i id="login" class="far fa-user-circle"></i>
                    <p id="usuario">Iniciar Sesión</p>
                </a>
            <% } %> 
        </section>
    </nav>
</header>