<nav id="navbar">
    <h2>Categorías</h2>
    <ul>
        <% category.forEach(element =>{ %>
            <li><a href="#"><%=element.name%></a></li>
        <% }) %>
        <li id="productCreate"><a href="/products/create">Crear nuevo producto</a></li>
    </ul>
</nav>