<nav id="navbar" class="activeMenu">
    <h2><a href="/" >Home</a></h2>
    <ul>
        <% if(user){ %> 
            <li id="cartNav"><a href="/users/cart"><i class="fas fa-shopping-cart"></i></a></li>
        <% } %>
        <% if (user && user.admin) { %>
            <li id="productCreate"><a href="/products/options">Opciones para productos</a></li>
            <li id="productCreate"><a href="/users/list/1">Listado de usuarios</a></li>
        <% } %>
    </ul>
</nav>