<nav id="navbar">
    <h2>Categorías</h2>
    <ul>
        <% category.forEach(element =>{ %>
            <li><a href="/products/list/1/<%= element.id %> "><%=element.name%></a></li>
        <% }) %>
        <% if (user && user.admin) { %>
            <li id="productCreate"><a href="/products/options">Opciones para productos</a></li>
            <li id="productCreate"><a href="/users/list">Listado de usuarios</a></li>
        <% } %>
    </ul>
</nav>