<nav id="navbar" class="activeMenu">
    <h2>Categorías</h2>
    <ul>
        <% category.forEach(element =>{ %>
            <li><a href="/products/list/1/<%= element.id %> "><%=element.name%></a></li>
        <% }) %>
        <% if(user){ %> 
            <a href="/users/cart" id="cartNav"><i class="fas fa-shopping-cart"></i></a>
        <% } %>
        <% if (user && user.admin) { %>
            <li id="productCreate"><a href="/products/options">Opciones para productos</a></li>
            <li id="productCreate"><a href="/users/list/1">Listado de usuarios</a></li>
        <% } %>
    </ul>
</nav>