<nav id="navbar" class="activeMenu">
    <h2>Categorías</h2>
    <ul>
        <% category.forEach(element =>{ %>
            <li class="catName catSelected"><a href="/products/list/1/<%= element.id %> "><%=element.name%></a> <i class="fas fa-info-circle"></i></li>
            <li class="detail detailCat"><%= element.detail%></li>
        <% }) %>
        <% if(user){ %> 
            <li id="cartNav"><a href="/users/cart"><i class="fas fa-shopping-cart"></i></a></li>
        <% } %>
        <% if (user && user.admin) { %>
            <li id="productCreate"><a href="/products/options">Opciones para productos</a></li>
            <li id="productCreate"><a href="/users/list/1">Listado de usuarios</a></li>
        <% } %>
    </ul>
</nav>