/***link redireccion para recuperar contraseña***/
.forget-link{
    display: block;
    text-decoration: none;
    text-align: right;
    margin-right: 9px;
    margin-bottom: 20px;
}
/***checkbox para guardar informacion***/
.remember-me-checkbox{
    text-align: left;
    margin-left: 20px;
}
/***** Media Queries******/
@media (min-width: 481px){
    #main-section-container{
        min-height: initial;
    }
}