    <footer>
        <section id="left-footer">
            <p>Términos y condiciones</p>
            <p>Comentarios</p>
        </section>
        <section id="right-footer">
            <p>Seguinos</p>
            <nav id="iconos">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
            </nav>
        </section>
        <section id="center-footer">
            <p>Copyright © 2021 - MAT Team</p>
        </section>
    </footer>