<header>
    <!--Menu de navegacion-->
    <i class="fas fa-bars burger"></i>
    <figure class="logo"><img src="/imgs/logo_final.svg" alt="logo"></figure> 
    <!--Buscador-->
    <form class="buscador">
        <input type="search" name="buscar" placeholder="Buscar..." id="searchbar">
        <button type="submit" name="buscar" class="buscar"><i class="fas fa-search"></i></button>
    </form>
    <!--Carrito de compras-->
    <nav class="header-right">
        <a href="/productCart" class="cart"><i class="fas fa-shopping-cart"></i></a>
        <section class="user-login">
            <a href="/login" class="login"><i class="far fa-user-circle"></i></a>
            <p class="usuario"><a href="/login">Iniciar Sesión</a></p>
        </section>
    </nav>
</header>