<header>
    <!--Menu de navegacion-->
    <i class="fas fa-bars burger"></i>
    <a href="/" class="logo"><img src="/imgs/logo_final.svg" alt="logo"></a> 
    <!--Buscador-->
    <form id="buscador">
        <input type="search" name="buscar" placeholder="Buscar..." id="searchbar">
        <button type="submit" name="buscar" class="buscar"><i class="fas fa-search"></i></button>
    </form>
    <!--Carrito de compras-->
    <nav id="header-right">
        <a href="/productCart" id="cart"><i class="fas fa-shopping-cart"></i></a>
        <section id="user-login">
            <a href="/login" id="login"><i class="far fa-user-circle"></i></a>
            <p id="usuario"><a href="/login">Iniciar Sesión</a></p>
        </section>
    </nav>
</header>