<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head')%>
    <link rel="stylesheet" href="/css/login.css">
    <title>Inicia Sesion</title>
</head>
<body>
    <header>
        <a href="/"><img class="logo" src="/imgs/logo_final.svg" alt="logo"></a>
    </header>
    <main>
        <section class="main-section-container">
            <form action="/" method="POST">
                <fieldset>
                    <legend>Iniciar Sesión</legend>
                    <label for="user"></label>
                    <input type="text" name="user" id="user" placeholder="Usuario" class="datos" required>
                    <label for="password"></label>
                    <input type="password" name="password" id="password" placeholder="Contraseña" class="datos" required>
                    <a href="#" class="forget-link">¿Olvidaste tu contraseña?</a>
                    <article class="remember-me-checkbox">
                        <label for="remember-me">Recordarme</label>
                        <input type="checkbox" name="remember-me" id="remember-me">
                    </article>
                    <button type="submit" id="boton-ingresar">
                        Ingresar
                    </button>
                </fieldset>    
            </form>
            <section class="register-section">
                <h2>
                    ¿No tenés cuenta?
                </h2>
                <button type="button" id="boton-link-registrarse">
                    <a href="/register">Registrate</a>
                </button>
            </section>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('./includes/footer')  %> 
</body>
</html>