    <!DOCTYPE html>
    <html lang="en">
    <head>
        <%- include('./includes/head') %> 
        <title>Creando un Producto</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/productFormStyles.css">
        <link rel="stylesheet" href="/css/productCreate.css">
    </head>
    <body>
        <%- include('./includes/header') %> 
        <main>
            <section id="content-container">
                <h1>Crea un Producto</h1>
                <form action="/products/create" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        <label for="nombre" class="product-info-labels small-input-labels">Nombre del Producto 
                            <input type="text" name="nombre" id='nombre' class="product-info small-input">
                        </label>
                    
                        <label for="marca" class="product-info-labels small-input-labels">Marca del producto
                            <input type="text" name="marca" id='marca' class="product-info small-input">
                        </label>
                        
                        <label for="precio" class="product-info-labels small-input-labels">Precio del producto
                            <input type="text" name="precio"  id='precio' class="product-info small-input">
                        </label>
                        
                        <label for="img" class="product-info-labels small-input-labels">Imagen del producto
                            <input type="file" name="img" id="img" class="product-info small-input">
                        </label>
                        
                        <label for="color" class="product-info-labels small-input-labels">Colores
                            <select name="color" id="color" class="product-info small-input">
                            <option value="rojo">Rojo</option>
                            <option value="verde">Verde</option>
                            <option value="azul">Azul</option>
                            </select>
                        </label>
                        
                        <label for="garantia" class="product-info-labels small-input-labels">Garantia del producto
                            <input type="text" name="garantia" id="garantia" class="product-info small-input">
                        </label>
                        
                        <label for="caract" class="product-info-labels large-input-labels">Características del producto
                            <textarea name="caract" id='caract' class="product-info large-input" rows="4"></textarea>
                        </label>
                        
                        <label for="esp" class="product-info-labels large-input-labels">Especificaciones del producto
                            <textarea name="esp" id='esp' class="product-info large-input" rows="4"></textarea>
                        </label>
                        
                        <label for="detalle" class="product-info-labels large-input-labels">Detalle del producto
                            <textarea name="detalle" id='detalle' class="product-info large-input" rows="4"></textarea> 
                        </label>
                        
                        <button type="submit" id="button-submit">Crear</button>
                    </fieldset>
                </form>
        </section>
        </main>
        <footer>
            <%-include('./includes/footer') %> 
        </footer>   
    </body>
    </html>