<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head')%>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/users/profileMaintain.css">
    <title>Página en mantenimiento</title>
</head>
<body>

    <main id="contenido">
        <figure>
            <img src="/imgs/maintainment/mantenimiento.jpeg" alt="maintainment-image">
        </figure>

        <section id="user-info">
            <h2>Página en mantenimiento</h2>

            <section>
                <p>Estamos trabajando duro para dejar esta página en perfectas condiciones.</p>
                <p>Por favor, volvé más tarde :)</p>

                <a href="/">Volver a la página principal</a>
            </section>
        </section>
    </main>

    <!-- FOOTER -->
    <%- include('./includes/footer')  %> 
</body>
</html>