<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head')%>
    <link rel="stylesheet" href="/css/users/userForm.css">
    <link rel="stylesheet" href="/css/users/register.css">
    <title>Registrate</title>
</head>
<body>
    <header>
        <a href="/"><img id="logo" src="/imgs/logo_final.svg" alt="logo"></a>
    </header>
    <main>
        <section id="main-section">
            <section id="main-section-desktop">
                <article class="article-descrip">
                    <i class="fas fa-truck-moving"></i>
                    <section class="article-descrip-text">
                        <h3>Gestioná tus compras</h3>
                        <p>¡Siendo miembro de nuestro sitio, pueden seguir el envio de sus compras!</p>
                    </section>
                </article>
                <article class="article-descrip">
                    <i class="fas fa-cart-plus"></i>
                    <section class="">
                        <h3>Agregá productos a tu carrito</h3>
                        <p>¡Podés agregar productos a tu carrito para luego comprarlos y que lleguen todos juntos!</p>
                    </section>
                </article>
                <article class="article-descrip">
                    <i class="fas fa-heart"></i>
                    <section class="">
                        <h3>Lista de deseados</h3>
                        <p>¡Agrega ítems a tu lista de deseados para recibir notificaciones cuando estén en oferta!</p>
                    </section>
                </article>
            </section>
            <section id="main-section-container">
                <form action="/" method="POST">
                <fieldset>
                    <legend>Crea tú cuenta</legend>
                    <label for="firstName"></label>
                    <input type="text" id="firstName" name="firstName" placeholder="Nombre" required class="info">
                    <label for="lastName"></label>
                    <input type="text" id="lastName" name="lastName" placeholder="Apellido" required class="info">
                    <label for="email"></label>
                    <input type="email" id="email" name="email" placeholder="E-MAIL" required class="info">
                    <label for="username"></label>
                    <input type="text" id="username" name="username" placeholder="Nombre de Usuario" required class="info">
                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="Contraseña" required class="info">
                    <label for="password-confirm"></label>
                    <input type="password" id="password-confirm" name="password" placeholder="Confirme su Contraseña" required class="info">
                    <button type="submit" id="button-submit">
                        Crear cuenta
                    </button>
                </fieldset>
                </form>
                <section id="redirect-section">
                    <h2>
                        ¿Ya tenés cuenta?
                    </h2>
                    <button type="button" id="button-link-redirect">
                        <a href="/login">Inicia Sesión</a>
                    </button>
                </section>
            </section>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('./includes/footer')  %> 
</body>
</html>