/***tamaño contenedor***/
#main-section-container{
    min-height: 477px;
    height: 75vh
}

.info{
    margin: 15px auto;
}
/***link redireccion para recuperar contraseña***/
.forget-link{
    display: block;
    text-decoration: none;
    text-align: right;
    margin-right: 9px;
    margin-bottom: 20px;
}
/***checkbox para guardar informacion***/
.remember-me-box{
    float: left;
}
/***** Media Queries******/
@media (min-width: 481px){
    #main-section-container{
        height: initial;
        min-height: initial;
    }
}