/***************** ETIQUETAS *******************/
figure {
    padding: 1rem;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgb(187, 185, 185) inset;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
figure img {
    width: 60%;
}
h2 {
    margin-top: 0;
}
a {
    text-decoration: none;
    color: #6765D6;
    transition: 0.5s all;
}
a:hover {
    text-decoration: underline;
}

/***************** ID **********************/
#logo {
    width: 95%;
}
#contenido {
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px #666666;
    padding: 1rem;
    height: 100vh;
}
#user-info {
    width: 90%;
    margin: 0 auto;
}
#user-info > a {
    display: flex;
    justify-content: center;
}
#user-info ul {
    padding: 0;
    list-style: none;
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}
#user-info li {
    margin-bottom: 10px;
}
#logout-button {
    background-color: #6765D6;
    color: #fff;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 40%;
    max-height: 42px;
    min-width: 140px;
    transition: 0.5s all;
}
#logout-button:hover {
    background-color: #CACADC;
    color: #6765D6;
}

/**************** MEDIA QUERIES ****************/
/* Desktop */
@media (min-width: 769px){
    #contenido {
        height: initial;
        margin: 1rem auto;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
    }
    figure {
        width: 50%;
        margin: 0;
    }
    #user-info {
        width: 45%;
        margin: 0;
    }
    #user-info > a {
        display: block;
    }
}