legend{
    margin-bottom: 10px;
}
#avatar-upload{
    display: block;
}
#image{
    width: 100%;
}
/***Seccion beneficios desktop***/
#main-section-desktop{
    display: none;
    width: 50%;
    padding: 3rem;
    border-right: 1px solid #d4d3d3;
}
.article-descrip{
    display: flex;
}
.article-descrip i{
    font-size: 2em;
    margin-right: 15px;
}

#main-section-desktop h3{
    text-transform:uppercase;
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
}
#main-section-desktop p{
    text-align: left;
    font-size: 14px;
    margin-bottom: 20px;
}

/*********  MEDIA QUERIES  **********/
@media (min-width: 481px){
    #main-section-container{
        height: initial;
        min-height: initial;
        width: 40%;
        min-width: 385px;
        max-width: 460px;
    }
}
@media (min-width: 769px){
    header{
        height: fit-content;
        background-color: #1A2028;
        margin-bottom: 20px;
    }
    #main-section{
        display: flex;
        margin: 0px auto 10px;
        min-width: 360px;
        max-width: 1252px;
    }
    #main-section-desktop{
        display: block;
    }
    #main-section-container{
        margin: 0px auto;
    }
}