.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image {
    margin: 1rem 0;
    width: 100%;
}
.image img{
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
}
.item-container {
    width: 70%;
    margin-bottom: 1rem;
}
.item {
    border: 2px solid black;
    border-radius: 5px;
}
.item h3 {
    border-bottom: 1px solid black;
    margin: 0;
    padding: 0.5rem;
    background-color: #6765D6;
}
.item p {
    margin: 0;
    padding: 1rem;
}

/**************** MEDIA QUERIES ****************/
/* Tablet */
@media (min-width: 481px) {
    .info {
        justify-content: space-around;
    }
    .item-container {
        width: 45%;
    }
    .image img{
        width: 60%;
    }
}
/* Desktop */
@media (min-width: 769px) {
    .item-container {
        width: 30%;
    }
    .image img{
        width: 50%;
    }
}